@import "tailwindcss";
@tailwind utilities;

@theme inline {
  /* Map Next.js font variables to Tailwind */
  --font-sans:
    var(--font-prompt), var(--font-nunito), ui-sans-serif, system-ui, sans-serif;
  --font-nunito: var(--font-nunito), ui-sans-serif, system-ui, sans-serif;
  --font-prompt: var(--font-prompt), ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family:
    var(--font-prompt), var(--font-nunito), ui-sans-serif, system-ui, sans-serif;
  background-color: #fafafa;
  color: #3e2723;
}
